@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.footer{
    height: 380px;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(95, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.footer p{
    color: white;

}


.info{
    display: flex;
}

.info-2{
    margin-left: 40px;
    margin-top: -10px;
}

.icon{
    font-size: 25px;
    color: white; 
    
}



.social-1{
    display: flex;
}

.social-2{
    display: flex;
    margin-top: 10px;
}

.social-3{
    display: flex;
    margin-top: 10px;
}

.social-4{
    display: flex;
    margin-top: 10px;
}

.social-5{
    display: flex;
    margin-top: 10px;
}
.social-6{
    display: flex;
    margin-top: 10px;
}

.share-button{
  background-color:brown;
  padding: 10px 15px ;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.share-button:hover{
    opacity: 0.8;

}

@media (max-width:600px) {
    .footer{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info{
        display: flex;
        flex-direction: column;
    }

    .info-1{
        margin-left: -38px;
    }

    .info-2{
        margin-left: -40px;
        margin-top: 10px;
    }

    .share-button{
        margin-top: 20px;
      }

}

@media (max-width:430px) {

    
    .info-2{
        margin-left: 40px;
    }
}

@media (max-width:420px) {

    .info-1{
        margin-left: -13px;
    }
    .info-2{
        margin-left: -15px;
    }

    .fb-share-button{
        margin-top: 20px;
      }
}



@media (max-width:390px) {
    .footer{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-1{
        margin-left: -13px;
        margin-top: 10px;
    }   

}
